<!-- <v-dialog v-model="state.show" max-width="25em" persistent eager>
	<v-card style="padding:10px">
		<div style="padding:10px">
			<v-text-field :label="state.label" v-model="state.text" autofocus outlined dense @keydown.stop
				@keydown.enter="confirm">
			</v-text-field>
		</div>
		<div style="text-align: right;">
			<v-btn color="primary" @click="confirm" text small>{{props.confirmLabel || 'Confirm'}}</v-btn>
			<v-btn @click="cancel" text small>{{props.cancelLable || 'Cancel'}}</v-btn>
		</div>
	</v-card>
</v-dialog> -->
<a-modal :closable="false" :maskClosable="false" v-model="state.show" @cancel="cancel" @ok="confirm">
	<div stype="padding:10px">
		<a-input :placeholder="state.label" v-model="state.text" ref="inputRef" @pressEnter="confirm" />
	</div>
</a-modal>