<div :style="styles.frm">
	<a-list :style="styles.sectionList">
		<v-subheader>
			<v-list-item-content>Sections</v-list-item-content>
			<v-list-item-action>
				<a-button @click="newSection">Add</a-button>
			</v-list-item-action>
		</v-subheader>
		<a-list-item style="padding:10px;transition:all 1s ease;" class="section-item" v-for="i of sectionListRef"
			:key="i" @click="loadSection(i)">
			<a-list-item-meta>
				<span :style="state.sectionName==i?{color: '#1890ff'}:undefined" style="transition:all 0.5s ease"
					slot="title">{{i}}</span>
			</a-list-item-meta>
			<!-- <a-list-item-action> -->
			<!-- <v-btn icon color="warning" @click.stop="deleteSection(i)">
					<v-icon>delete</v-icon>
				</v-btn> -->
			<a-button shape="circle" icon="delete" type="danger" @click.stop="deleteSection(i)" />
			<!-- </a-list-item-action> -->
		</a-list-item>
	</a-list>
	<div style=" flex-grow: 1;height: 100%;padding-left: 10px;display:flex;flex-direction: column;">
		<div style="padding:10px;">
			<div style="display:inline-block;margin-right:10px">
				<!-- <v-text-field label="Game" v-model="state.gameName" @keydown.enter="loadSectionList(state.gameName)">
				</v-text-field> -->
				<a-input placeholder="Game" v-model="state.gameName" @keydown.enter="loadSectionList(state.gameName)" />
			</div>
			<div style="display:inline-block;margin-right:10px">
				<!-- <v-text-field label="Section" v-model="state.sectionName"></v-text-field> -->
				<a-input placeholder="Section" v-model="state.sectionName" />
			</div>
		</div>
		<!-- <v-textarea no-resize rows=" 20" v-model="state.content" @change="updateSection" ref="editorRef">
				</v-textarea> -->
		<a-textarea style="flex-grow:1" v-model="state.content" @change="updateSection" ref="editorRef">
		</a-textarea>
	</div>
	<a-prompt></a-prompt>
</div>