<div :style="styles.frm" @touchmove.prevent>
	<background-image :src="state.backgroundImage"></background-image>
	<v-fade-transition>
		<div :style="styles.optsmodal" v-if="state.opts">
			<v-list dark dense rounded style="background-color: black;width: 70%">
				<v-list-item v-for="i of state.opts.length" @click="choose(i-1)">{{state.opts[i-1]}}</v-list-item>
			</v-list>
		</div>
	</v-fade-transition>
	<div :style="styles.dialogContainer" @click="next" @touchmove.prevent>
		<v-card :style="styles.dialog" elevation="4">
			<div :style="styles.char" v-show="state.char">
				{{state.char}}
				<v-divider />
			</div>
			<span v-html="state.text"></span><span class="type"></span>
		</v-card>
	</div>
	<div style="position:fixed;right:0;top:0;padding:20px">
		<v-btn fab small @click="fastForward(10)" style="margin-right:10px;">
			<v-icon>accessible_forward</v-icon>
		</v-btn>
		<v-btn fab small @click="fastForward(Infinity)">
			<v-icon>directions_run</v-icon>
		</v-btn>
	</div>
	<v-dialog v-model="state.showSaves" max-width="70%" eager>
		<v-card style="min-height:90%">
			<display-saves @select="onSelectSave" @del="deleteSave" />
		</v-card>
	</v-dialog>
	<v-prompt></v-prompt>
</div>