<v-dialog v-model="state.show" max-width="25em" persistent eager>
	<v-card style="padding:10px">
		<!-- <v-card-title style="padding-left:0">{{state.label}}</v-card-title> -->
		<div style="padding:10px">
			<v-text-field :label="state.label" v-model="state.text" autofocus outlined dense @keydown.stop
				@keydown.enter="confirm">
			</v-text-field>
		</div>
		<div style="text-align: right;">
			<v-btn color="primary" @click="confirm" text small>{{props.confirmLabel || 'Confirm'}}</v-btn>
			<v-btn @click="cancel" text small>{{props.cancelLable || 'Cancel'}}</v-btn>
		</div>
	</v-card>
</v-dialog>